.wrap {
    cursor: move;
    border: none;
    width: 300px;
    height: auto;
    min-width: 250px;
    background: transparent;
    position: relative;
    padding: 10px;
    transition: 0.2s;
}

.wrap:hover .container {
    background: #384047;
}

.none {
    display: none;
    background: rgba(43, 52, 59, 0.6)
}

.drag {
    opacity: .5;
}

.top {
    padding-bottom: 0 !important;
    margin: 10px 0 0 0;
}

.bottom {
    padding-top: 0 !important;
    margin: 0 0 10px 0;
}

.body {
    padding: 0 !important;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
    font-size: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
}


.title {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 28px;
    font-size: 16px;
    padding: 4px 0 4px 0;
    text-transform: uppercase;
}

.container {
    background: rgba(43, 52, 59, 0.6);
    width: 100%;
    height: auto;
    min-width: 250px;
    padding: 10px 10px 10px 10px;
}

.btnWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.draggable {
    padding: 10px;
    background: #1e272e;
    border: 1px solid #1e272e;
}