.openFormWrap {
    padding-top: 8px;
    height: 60px;
    font-size: 22px;
    color: #969ca1;
}

.openFormWrap span {
    cursor: pointer;
    text-transform:uppercase
}
.openFormWrap span:hover {
    color: white
}