.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #242d32;
    border-radius: 8px;
}

.mainTittle {
    /*padding-left: 6px;*/
    text-align: center;
}

.addBoardForm {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 22px;
    border: 2px solid #7b68ee;
    background: #2b343b;
    margin-bottom: 16px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardItem {
    width: 100%;
    background: #2a333b;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}


.boardItem:hover {
    background: #384047;
}

.createdAt {
    width: 200px;
    height: 100%;
    line-height: 50px;
    padding-left: 15px;
}

.settings {
    cursor: initial;
    text-align: right;
    padding-right: 8px;
    height: 100%;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 8px;
    width: 88px;
}

.border {
    border-left: 1px solid black;
}

.boardTitle {
    flex-grow: 1;
    padding-left: 8px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.error {
    border-color: #f73f81;
}

