.columnWrap {
    width: 300px;
    height: auto;
    min-width: 250px;
    padding: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 120px);
}

.grow {
    flex-grow: 1;
}

.column {
    width: 100%;
}

.plus {
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
}
.titleWrap{
    display: flex;
    flex-direction: row;
}

.spanTitle {
    text-transform: uppercase
}


.btnWrap {
    cursor: initial;
    padding: 0 5px 8px 5px;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: auto;
    border-top: 4px solid transparent;
    background: #2b343b;
}

.count {
    border: 1px solid rgba(26, 26, 26, 0.8);
    margin-left: 9px;
    border-radius: 10px;
    padding: 0 7px;
}