.root {
    background: #7b68ee;
    height: 32px;
    padding: 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.root:hover {
    background: #5b43ea;
}

.root[disabled] {
    background: #b3acde !important;
    cursor: initial!important;
}

.iconWrap {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconWrap:hover {
    background: #4f5661;
}

.closebtn {
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s;
    transform: rotate(0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closebtn:hover {
    background: #2b343b;
    transform: rotate(90deg);
}
.secondary {
    background: #f24d17;
}

.secondary:hover {
    background: #c10e29;
}