.wrap {
    max-width: 1250px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #242d32;
    border-radius: 8px;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.title {
    word-break: break-all;
    text-transform: uppercase;
}

.subtitle {
    color: #7c8185;
    margin-right: 10px;
    font-weight: 300;
    font-size: 22px;
    text-transform: initial;
}

.link {
    font-size: 20px;
    text-decoration: underline;
    flex-grow: 1;
    width: 100%;
    background: #2b343b;
    outline: none;
    border: none;
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
}

.spanlink {
    color: #acaac4;
}

.spanlink:hover {
    color: #9992e5;
}

.btnwrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.columnswrap {
    display: flex;
    justify-content: center;
}

.column {
    width: 50%;
    margin-right: 20px;
}

.nonemargin {
    margin: 0;
}